
body {
    margin: 0;
    height: auto;
    background: linear-gradient(135deg, #e8f5e9, #f1f8f4);
    font-family: "Times New Roman", serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 90%;
    padding: 24px;
    background: white;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    cursor: pointer;
}

.title {
    font-size: 28px;
    color: #2f6f5f;
}

.date {
    font-size: 22px;
    font-weight: bold;
    margin: 12px 0;
}

.time, .place {
    font-size: 16px;
    margin: 6px 0;
}

.message {
    margin-top: 15px;
    font-style: italic;
    line-height: 1.6;
}
.avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #2f6f5f;
    margin-bottom: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);

}
